html, body, #map_canvas { 
  height: 100%; 
  margin: 0; 
  padding: 0; 
}

.bottom_panel div, .film_detail div, .location_detail div {
  padding-left: 10px;
  padding-right: 10px;
}

.top_panel {
  width: 85%;
  padding: 10px;
}

.top_panel input {
  padding: 10px;
  width: 100%;
  font-size: 16px;
}

.bottom_panel {
  background-color: #fff;
  border: solid 1px #ccc;
  width: 100%;
  height: 150px;
  z-index: 1;
}

input[type=button] {
  background: #eee;
  background-image: -webkit-linear-gradient(top, #eee, #aaa);
  background-image: -moz-linear-gradient(top, #eee, #aaa);
  background-image: -ms-linear-gradient(top, #eee, #aaa);
  background-image: -o-linear-gradient(top, #eee, #aaa);
  background-image: linear-gradient(to bottom, #eee, #aaa);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  color: #000;
  padding: 5px;
  margin-right: 10px;
  text-decoration: none;
}

::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 7px;
}

::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: rgba(0,0,0,.5);
  -webkit-box-shadow: 0 0 1px rgba(255,255,255,.5);
}